parameters:
    level: 9

    reportUnmatchedIgnoredErrors: false

    paths:
        - src/
        - tests/
        - translations/

    ignoreErrors:
        -
            identifier: missingType.iterableValue
            path: tests/*
