<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="./tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>

    <coverage>
        <include>
            <directory suffix=".php">./src/Recurr/</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Recurr Test Suite">
            <directory>./tests/Recurr/Test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
