name: tests

permissions:
  contents: read

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 15 * *'

jobs:
  test:

    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        php: [7.2, 7.3, 7.4, 8.0, 8.1, 8.2]

    name: php v${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo
          tools: composer:v2
          coverage: pcov

      - name: Install dependencies
        run: composer install --no-interaction --no-progress

      - name: Execute tests
        run: composer test

